{% extends "teams/header.html" %}
{% load static %}

{% block javascript %}
<script>
setActive("about");
</script>
{% endblock %}

{% block content %}
<div class="" >
	<div class="container py-5">
		<div class="jumbotron jumbotron--hero text-center">
			<h1 class="display-4">About the Ultimate Database</h1>

			<p class="lead mb-4 mx-5">
				UltiDB was created to be a standardized, free to use, community managed source of rosters and team history. 
			</p>
		</div>
	</div>
</div>
<div class="container">
	<div class="row">
		<div class="col-sm-10 offset-sm-1">
			<p>UltiDB houses data scraped from USA Ultimate including rosters, teams, and players with tournaments and games coming soon. Join for free to become a moderator, gaining access to the web scraper and assist with the creation of team bios.</p>
			<p>More info here. Created by Anders Juengst © 2019</p>
		</div>
	</div>
</div>

{% endblock %}	
